.post-toc-empty {
  font-size: 14px;
  color: #666;
}
.post-toc-wrap {
  overflow: hidden;
}
.post-toc {
  overflow: auto;
}
.post-toc ol {
  margin: 0;
  padding: 0 2px 5px 10px;
  text-align: left;
  list-style: none;
  font-size: 14px;
}
.post-toc ol > ol {
  padding-left: 0;
}
.post-toc ol a {
  transition-property: all;
  color: #999;
  border-bottom-color: #555;
}
.post-toc ol a:hover {
  color: #ccc;
  border-bottom-color: #ccc;
}
.post-toc .nav-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.8;
}
.post-toc .nav .nav-child {
  display: none;
}
.post-toc .nav .active > .nav-child {
  display: block;
}
.post-toc .nav .active-current > .nav-child {
  display: block;
}
.post-toc .nav .active-current > .nav-child > .nav-item {
  display: block;
}
.post-toc .nav .active > a {
  color: #87daff;
  border-bottom-color: #87daff;
}
.post-toc .nav .active-current > a {
  color: #87daff;
}
.post-toc .nav .active-current > a:hover {
  color: #87daff;
}
.post .post-content ul li {
  list-style: none;
}
.post .post-content ul li:before {
  content: "";
  width: 6px;
  height: 6px;
  border: 1px solid #999;
  border-radius: 10px;
  background: #aaa;
  display: inline-block;
  margin-right: 10px;
  float: left;
  margin-top: 7px;
}
.post .post-content h2,
.post .post-content h3,
.post .post-content h4,
.post .post-content h5,
.post .post-content h6 {
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}
.post .post-content img {
  margin: 0 auto;
}
.post .post-content a {
  color: #0593d3;
  border-bottom: none;
}
.post .post-content a:hover {
  color: #0477ab;
  text-decoration: underline;
}
.post .post-content .highlight {
  border-radius: 4px;
}
.post .post-content blockquote {
  border-left: 5px solid #ccc;
  margin-top: 10px;
  border-left: 5px solid #657b83;
  background: #f6f6f6;
}
.post-nav a {
  color: #0593d3;
  border-bottom: none;
}
.post-nav a:hover {
  color: #0477ab;
  text-decoration: underline;
}
.site-author-image {
  display: block;
  border: 3px solid #fff;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: #fff;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  text-align: center;
}
.site-author-image img {
  width: 100%;
  height: 100%;
/*border-radius: 50%;*/
  animation-duration: 0.4s;
  animation-delay: 0.3s;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-delay: 0.3s;
}
.site-author-image:hover {
  background: #fff;
  border: 3px solid #88acdb;
  box-shadow: 0 0 1.5em #88acdb;
  animation: site-author-image 0.15s linear infinite alternate;
  -webkit-animation: site-author-image 0.15s linear infinite alternate;
}
@-moz-keyframes site-author-image {
  0% {
    right: 4px;
    top: 1x;
  }
  100% {
    right: 0px;
    top: -1px;
  }
}
@-webkit-keyframes site-author-image {
  0% {
    right: 4px;
    top: 1x;
  }
  100% {
    right: 0px;
    top: -1px;
  }
}
@-o-keyframes site-author-image {
  0% {
    right: 4px;
    top: 1x;
  }
  100% {
    right: 0px;
    top: -1px;
  }
}
@keyframes site-author-image {
  0% {
    right: 4px;
    top: 1x;
  }
  100% {
    right: 0px;
    top: -1px;
  }
}
.post .post-tags a {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  height: 18px;
  line-height: 18px;
  float: left;
  padding: 0 5px 0 10px;
  position: relative;
  border-radius: 0 5px 5px 0;
  background: #cc8167;
  margin: 0px 20px 10px 0px;
}
.post .post-tags a:before {
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: -18px;
  border: 9px solid transparent;
  border-right-color: #cc8167;
}
.post .post-tags a:after {
  content: " ";
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
  position: absolute;
  top: 7px;
  left: 2px;
}
.post .post-tags a:hover {
  opacity: 0.8;
  background: #cc8167;
}
